{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="password-reset-done-container py-5">
    <h2>Password Your Password</h2>
    <p>Please enter your email or phone number to reset your password.</p>
    <form method="POST" action="{% url accounts:password_reset_custom %}">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="identifier">Email or Phone Number</label>
            <input type="text" id="identifier" name="identifier" class="form-control" placeholder="Enteryour email or phone number" required>
        </div>
        <button type="submit" class="btn btn-primary">Send Reset Instructions</button>
        <a href="{% url 'accounts:login_view' %}" class="btn btn-primary">Back to Login</a>
    </form>
</div>   
{% endblock %}