{% extends 'base.html' %}

{% block content %}
<div class="school-portal-container">
    <h2 class="school-portile-title">
        <div class="school-portal-grid">
            <a href="#" class="school-portal-card school-add-child"><i class="fa fa-user-plus"></i>
                <span>Add/Manage Teacher</span>
            </a>
            <a href="#" class="school-portal-card school-add-child">
                <i class="fa fa-paper-plane"></i>
                <span>Send Message</span>
            </a>
            <a href="#" class="school-portal-card school-view-message"></a>
                <i class="fa fa-comment"></i>
                <span>View Message</span>
            </a>
            <a href="#" class="school-portal-card school-view-attendance"></a>
                <i class="fa fa-calendar-check"></i>
                <span>View Attendance</span>
            </a>
            <a href="#" class="school-portal-card school-view-timetable"></a>
                <i class="fa fa-calendar-alt"></i>
                <span>View/Manage Timetable</span>
            </a>
            <a href="#" class="school-portal-card school-manage-appointments"></a>
                <i class="fa fa-calendar-edit"></i>
                <span>Manage Appointments</span>
            </a>
        </div>
    </h2>
</div>
{% endblock %}