{% extends "base.html" %}
{% load static %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}

<div class="terms-container container mt-4 mb-4">
    <h1 class="terms-title">Terms and Conditions</h1>
    <p class="terms-date">Last Updated: October 27, 2024</p>

    <section class="terms-section">
        <h2 class="terms-subtitle">1. Introduction</h2>
        <p>Weclome to Educonnect-SL! By using our platform, you agree to abide by the terms and conditions, as well as
            our privacy. Please read the carefully.</p>
    </section>

    <section class="terms-section">
        <h2 class="terms-subtitle">2. Eligibility</h2>
        <p>Our platform is intended for users who are at least 18 years old. By accessing or using our service, you
            represent and warrant that you are of legal age to form a binding contract with us</p>
    </section>

    <section class="terms-section">
        <h2 class="terms-subtitle">3. User Responsibilities</h2>
        <p>You agree to use our platform responsibly and not engage in any behavior that could harm users or the
            platform itself. This includes but not limitrd to, posting inappropriate content, attempting to hack the
            system, and using the platform for unauthorized purposes</p>
    </section>

    <section class="terms-section">
        <h2 class="terms-subtitle">4. Interllectual Property</h2>
        <p>All content, trademarks, and data on the website, including but not limited to software, database, text,
            graphics, icons, hyperlinks, and designs, are the property of Educonnect-SL and are protected by law.</p>
    </section>

    <section class="terms-section">
        <h2 class="terms-subtitle">5. Limitation of Liabilitiy</h2>
        <p>Educonnect-SL is not liable for any direct, indirect, incidental, special, or consequential damages that may
            result from the use or inability to use the platform</p>
    </section>

    <section class="terms-section">
        <h2 class="terms-subtitle">6. Change of Terms</h2>
        <p>We reserve the right to make changes to these terms and conditions at any time. Your continued use of the
            platform constitutes your acceptance of any new or modified terms.</p>
    </section>

    <section class="terms-section">
        <h2 class="terms-subtitle">7. Contact Us</h2>
        <p>If you have any questions or concerns regarding these terms and conditions, please contact us at <a
                href="mailto:support@educonnect-sl.com">support@educonnect-sl.com</a></p>
    </section>
</div>

{% endblock %}